.row {
  display: flex;
  align-items: center;
}

.form-control {
  border-style: solid !important;
}

.justify-content-md-center {
  width: 96%;
}

.gmnoprint {
  display: none;
}

#destination {
  top: 80% !important;
  left: 55% !important;
}

#pickup {
  top: 87% !important;
  left: 55% !important;
}

.search {
  margin: 0;
  border: none !important;
  border-radius: 0 !important;
  background-color: white !important;
  padding: 10px !important;
}

.search-input {
  margin: 0 !important;
  border: none !important;
}

.col-5 {
  position: absolute !important;
}

.searchbox {
  position: absolute;
  z-index: 99;
  top: 70%;
  left: 55%;
}

.input-group-text {
  border: 0 !important;
  background-color: white !important;
}

.btn-success {
  border: none !important;
  background-color: #8cbd47 !important;
}

.history-container {
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.history-list {
  background-color: white;
  margin: 10px !important;
  padding: 0px !important;
  border: solid;
  border-color: rgb(228, 229, 230);
}

.history-list > h6 {
  margin: 0px;
}

.history-status {
  align-self: center;
  text-align: center;
  padding: 8px;
  margin-right: 10px;
  color: white;
}

.current-order {
  position: absolute;
  z-index: 99;
  top: 60%;
  left: 55%;
  background-color: black;
  color: white;
  padding: 0px !important;
}
.input-group > .input-group-prepend > .input-group-text {
  border-radius: 0 !important;
  background-color: #2f353a !important;
}

.input-group > .form-control:not(:first-child) {
  border-radius: 0 !important;
}

.form-control:disabled {
  background-color: #2f353a !important;
  color: white;
}
