.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#content-wrapper {
  background-image: url("./Pattern.jpg") !important;
  height: 895px !important;
}

#container-form {
  margin: auto;
}
.form-wrapper {
  border-style: ridge;
  border-color: #f8ae3b !important;
  color: white;
  margin-top: -40px !important;
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.5);
}
#form {
  background-color: #f8ae3b !important;
  padding: 30px;
}

#form-title {
  background-color: white;
  color: #f8ae3b;
  margin: 0;
  padding: 20px;
}

.login-form-control {
  background-color: transparent !important;
  border: 0px !important;
  border-bottom-width: 1px !important;
  color: white !important;
}

.btn-login {
  background-color: white !important;
  color: #f8ae3b !important;
  width: 80% !important;
  margin: auto;
}

@media (min-width: 576px) {
  #container-form {
    max-width: 500px !important;
  }
}
